<div class="w-full mx-auto mt-[-50px]">
    <div class="bg-white w-full sm:w-[90%] mx-auto py-6 px-4 rounded-0 sm:rounded-xl shadow-0 sm:shadow-md">
        <div class="flex flex-col sm:flex-row justify-between items-center gap-x-4 gap-y-2">
            <input id="search-villa" class="w-full px-4 py-2 rounded-lg border border-slate-300 outline-0" type="text" placeholder="Find your villa..." />
            <button class="w-full sm:w-auto py-2 px-6 bg-yellow-500 text-white rounded-lg">Search</button>
        </div>
    </div>
</div>