---
import { BASE_API_WA, FACEBOOK, INSTAGRAM, TIKTOK } from "../../utils/Constants";
---

<footer class="border-t border-slate-300">
    <div class="container max-w-[1200px] mx-auto px-4 py-8 flex items-center justify-between">
        <p class="text-sm sm:text-md">&#169; 2025 Kamartamu</p>
        <div class="flex space-x-6 sm:space-x-8 text-lg">
            <a target="_blank" href={INSTAGRAM}>
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a target="_blank" href={TIKTOK}>
                <i class="fa-brands fa-tiktok"></i>
            </a>
            <a target="_blank" href={FACEBOOK}>
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a target="_blank" href={BASE_API_WA}>
                <i class="fa-brands fa-whatsapp"></i>
            </a>
        </div>
    </div>
</footer>